body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

.hidden {
  display: none;
}

#splash-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6200ea;
  color: #fff;
}

#auth-container, #chat-container {
  margin-top: 20px;
}

form input {
  margin: 10px;
  padding: 10px;
  width: 80%;
  max-width: 300px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  cursor: pointer;
}
